snippet created "vue created"
created() {
    $1
},
endsnippet

snippet mounted "vue mounted"
mounted() {
    $1
},
endsnippet

snippet data "vue data"
data() {
    return {
        $1: '',
    }
},
endsnippet

snippet methods "vue methods"
methods: {
    $1: function() {
    }
},
endsnippet

